<html>
<head>
<link rel="stylesheet" type="text/css" href="dhtmlx/dhtmlxlayout.css"></link>
<link rel="stylesheet" type="text/css" href="dhtmlx/skins/dhtmlxlayout_dhx_skyblue.css"></link>
<link rel="STYLESHEET" type="text/css" href="dhtmlx/dhtmlxgrid.css"></link>
<link rel="stylesheet" type="text/css" href="dhtmlx/skins/dhtmlxgrid_dhx_skyblue.css"></link>
<link rel="STYLESHEET" type="text/css" href="dhtmlx/dhtmlxtabbar.css"></link>
<link rel="stylesheet" type="text/css" href="dhtmlx/skins/dhtmlxtoolbar_dhx_skyblue.css"></link>
<link rel="stylesheet" type="text/css" href="dhtmlx/skins/dhtmlxform_dhx_skyblue.css"></link>
<link rel="stylesheet" type="text/css" href="dhtmlx/skins/dhtmlxmessage_dhx_skyblue.css"></link>

<script src="dhtmlx/dhtmlxcommon.js"></script>
<script src="dhtmlx/dhtmlxlayout.js"></script>
<script src="dhtmlx/dhtmlxcontainer.js"></script>
<script src="dhtmlx/dhtmlxgrid.js"></script>        
<script src="dhtmlx/dhtmlxgridcell.js"></script> 
<script src="dhtmlx/dhtmlxgrid_filter.js"></script>
<script src="dhtmlx/dhtmlxtoolbar.js"></script>
<script src="dhtmlx/dhtmlxtabbar.js"></script>
<script src="dhtmlx/dhtmlxform.js"></script>
<script src="dhtmlx/dhtmlxmessage.js"></script>
<script src="dhtmlx/dhtmlxgrid_export.js"></script>
<script src="dhtmlx/dhtmlxgrid_nxml.js"></script>
<script src="javascript/view.js"></script>



@@javascript_ribbonbar_scripts@@

<script language='javascript'>

@@javascript_grid_definition_var@@

function do_on_load()
{
  
@@javascript_grid_definition@@

}

</script>
 



</head>
<body onload="do_on_load()">

</body>

</html>